.navigation ul,
a {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  list-style: none;
  flex-direction: row;
}

.navigation a {
  text-decoration: none;
}

.active-link {
  font-weight: bold;
  color: #07c5fa;
}

